@using demos.blazer.webapp.Features.PizzaShop.DTOs

<h2>New Topping: @Topping.Name</h2>

<p>Ingredients: @Topping.Ingredients</p>

@code {
    [Parameter]
    public  DTOs.Topping Topping { get; set; }
}