@page "/pizzas-toppings"
@using demos.blazer.webapp.Features.PizzaShop.DTOs

<h1>Our Latest Pizzas and Topping</h1>

<PizzaComponent PizzaName="Hawaiian" PizzaDescription="The one with pineapple" />

<ToppingComponent Topping="@(new DTOs.Topping() { Name = "Chilli Sauce", Ingredients = "Three kinds of chilli.", Price = 3.45m })" />