<div class="top-bar">
    <a class="logo" href="">
        <img src="images/logo.svg" />
    </a>

    <NavLink href="pizzas" class="nav-tab" Match="NavLinkMatch.All">
        <img src="images/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>

    <NavLink href="myorders" class="nav-tab">
        <img src="images/bike.svg" />
        <div>My Orders</div>
    </NavLink>
</div>