@page "/pizzashop/favorite-pizzas/{favorite?}"
@using PizzaShop.Client.Layouts
@layout PizzaShopLayout

<h1>Choose a Pizza</h1>

<p>Your favorite pizza is: @Favorite</p>

@code {
    [Parameter]
    public string Favorite { get; set; }
}