@page "/pizzas-toppings"
@using demos.blazer.webappPizzaShop.Client.Models

<h1>Our Latest Pizzas and Topping</h1>

<PizzaComponent PizzaName="Hawaiian" PizzaDescription="The one with pineapple" />

<ToppingComponent Topping="@(new Topping() { Name = "Chilli Sauce", Ingredients = "Three kinds of chilli.", Price = 3.45m })" />