@page "/pizzas2"
@using demos.blazer.webapp.Features.Pizza.DTOs
@using demos.blazer.webapp.Features.Pizza.Services
@inject PizzaService PizzaSvc

<div class="main">

    <h1>Choose your pizza</h1>

    @if (todaysPizzas == null)
    {
        <p>We're finding out what pizzas are available today...</p>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Pizza Name</th>
                    <th>Description</th>
                    <th>Vegetarian?</th>
                    <th>Vegan?</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pizza in todaysPizzas)
                {
                    <tr>
                        <td>@pizza.Name</td>
                        <td>@pizza.Description</td>
                        <td>@pizza.BasePrice</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

@code {
    private List<PizzaSpecial>? todaysPizzas;

    protected override async Task OnInitializedAsync()
    {
        todaysPizzas = await PizzaSvc.GetPizzaSpecialAsync();
    }
}