@page "/pizzashop/orders/{orderId:int}"

@using demos.blazer.webapp.PizzaShop.Client.Public.Services
@using demos.blazer.webapp.PizzaShop.Client.Public.Models

@inject IPizzaStoreRepository PizzaStore

<div class="main">
    @if (invalidOrder)
    {
        <h2>Order not found</h2>
        <p>We're sorry but this order no longer exists.</p>
    }
    else if (order == null)
    {
        <div class="track-order">
            <div class="track-order-title">
                <h2>
                    <text>Loading...</text>
                </h2>
                <p class="ml-auto mb-0">
                    ...
                </p>
            </div>
        </div>
    }
    else
    {
        <div class="track-order">
            <div class="track-order-title">
                <h2>
                    Order placed @order.CreatedTime.ToLongDateString()
                </h2>
                <p class="ml-auto mb-0">
                    Status: <strong>@order.StatusText</strong>
                </p>
            </div>
            <div class="track-order-body">
                <div class="track-order-details">
                    @foreach (var pizza in order.Pizzas)
                    {
                        <p>
                            <strong>
                                @(pizza.Size)"
                                @pizza.Special.Name
                                (£@pizza.GetFormattedTotalPrice())
                            </strong>
                        </p>
                    }
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public int OrderId { get; set; }

    Order order;
    bool invalidOrder = false;

    protected override async Task OnParametersSetAsync()
    {
        var response = await PizzaStore.GetOrder(OrderId);

        if(response == null)
        {
            invalidOrder = true;
        }
        else
        {
            order = response;
        }
    }
}