@using demos.blazer.webapp.PizzaShop.Client.Public.Models

<h2>New Topping: @Topping.Name</h2>

<p>Ingredients: @Topping.Ingredients</p>

@code {
    [Parameter]
    public Topping Topping { get; set; }
}